
<div class="row" style="margin-top:80px;background-color:white;width: 104%;" >
	
	<div class="col-md-6" style="float:right">
		 <ul class="list-inline navbar-text navbar-right" style="margin-right: 38px;">	
			  
			  <li ><%= link_to 'Contact', contact_path , :style => "color:black;font-family: 'Lora', 'serif;"%></li>
			  <li ><%= link_to 'A propos', a_propos_path, :style => "color:black;font-family: 'Lora', 'serif;" %></li>
			  <li ><%= link_to 'Mentions Légales', mentions_legales_path, :style => "color:black;font-family: 'Lora', 'serif;" %></li>
		 </ul>        
	</div>
		
		
	
	<div class="col-md-6">
		

				<ul class="list-inline navbar-text " style="margin-left: 52px;">	
					<li><%= link_to image_tag("facebook-icon.png", :alt => "facebook", :id => "") %></li>
					<li><%= link_to image_tag("linkedin-icon.png", :alt => "linkedin", :id => "") %></li>
					<li><%= link_to image_tag("twitter-icon.png", :alt => "twitter", :id => "") %></li>

					
					
				</ul>
                

	</div>
</div>


